body{
    color: white;
    background-color: black;
}

h1{
    text-align: center;
    text-decoration: underline;
}

img {
    height: auto;
    width: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

a {
    color: white;
}